[2018-04-16 11:27] tomaszrondio opened #204 "react checkbox: checkedValue should be 'any'"
https://github.com/superdesk/superdesk-ui-framework/blob/4d70af2be810228f26a6cb0af38698e0edb412b5/app/react-ui/Checkbox/index.jsx#L45

[2020-08-26 12:40] tomaskikutis opened #508 "`Input` should respect `value` prop"
![input](https://user-images.githubusercontent.com/2076953/91304201-677dac00-e7a9-11ea-89a9-edf7f3c3dafb.gif)

[code]

[2020-10-28 15:33] tomaskikutis opened #519 "Enable rendering tags in read-only mode"
Now `onClick` parameter is mandatory and `x` button is always rendered next to a tag. I would like `onClick` to be replaced with `onRemove` and property to be made optional. If it is not passed `x` button should not be rendered.

[2020-11-04 11:05] tomaskikutis opened #523 "Improve autocomplete types/interface"
### Use generics in order to return correct types

`onSelect?(suggestion: string): void;`

`suggestion` parameter has incorrect type. In case of auto tagging, it [has a type of](https://github.com/superdesk/superdesk-client-core/pull/3575/files#diff-22b9ee6d19461be021b5fe65bc55b691a6e5525f6ca335b5c5822c4d68da2707R127) `ITagUi`, and not a string.

At the `Autocomplete` component level, we don't kno

[2020-11-04 11:13] #204 closed

[2020-11-27 12:16] tomaskikutis opened #526 "Autocomplete: empty space is present at the top when label is not provided"
It then breaks vertical alignment. (I have added a red border to illustrate this)

![screenshot-2020-11-27--13-10](https://user-images.githubusercontent.com/2076953/100448382-73338400-30b2-11eb-8bad-0026e3b10f33.png)

[2020-12-02 16:27] tomaskikutis opened #527 "Component request - multi select"
I would like to add compact view to type select in the new react based list view, but there is no react component for this yet.

![screenshot-2020-12-02--17-25](https://user-images.githubusercontent.com/2076953/100900694-61434e00-34c3-11eb-82ee-04116ddc6bb7.png)

[2020-12-02 16:33] tomaskikutis opened #528 "Dropdown: some icons can not be displayed"
When passing `filetype-icon-text` as an icon, the DOM element is rendered with a class name `icon-filetype-icon-text` and visually white space is present instead of an icon.

[2021-01-18 13:26] tomaskikutis opened #533 "Add tabIndex property to all input components"
Missing from the select component

[2021-01-18 13:32] tomaskikutis opened #534 "Fix styles for Select component in dark mode"
* Select component background is darker than other inputs: [screenshot-1](https://user-images.githubusercontent.com/2076953/104921197-4a848800-5999-11eb-8b81-1efa8bb56c50.png)
* When selecting values, the text of options is invisible except for current value: [screenshot-2](https://user-images.githubusercontent.com/2076953/104921201-4bb5b500-5999-11eb-961d-611de10f0673.png)

Can be tested at commi

[2021-04-20 14:39] tomaskikutis opened #547 "Tooltips don't work inside elements that have overflow:hidden set"
![2021-04-20_16-38](https://user-images.githubusercontent.com/2076953/115415078-e327df80-a1f6-11eb-86a7-0241e63e07b8.png)

[2021-05-11 15:31] tomaskikutis opened #548 "Radio inputs don't show initial value"
If there is a [value passed](https://user-images.githubusercontent.com/2076953/117842249-0a198480-b27e-11eb-8e57-05c6f0302c31.png) to the radio component that matches one of the options, [none of the options are rendered as selected](https://user-images.githubusercontent.com/2076953/117842756-8744f980-b27e-11eb-9bb0-27fc8beb6ceb.png).

[2021-05-25 07:21] petrjasek opened #553 "Markup for react/popover is missing in the docs"
![popover-markup](https://user-images.githubusercontent.com/179249/119456094-96c24900-bd3a-11eb-8db0-058b82aaca86.png)

[2021-05-27 08:18] fritzSF commented on #553
This is fixed now. Props are added as well.
![popover](https://user-images.githubusercontent.com/1861461/119791122-d02ebc00-bed4-11eb-845c-88dee6ead21f.png)

[2021-05-27 08:18] #553 closed

[2021-08-09 19:48] #548 closed

[2021-08-12 12:33] tomaskikutis opened #568 "Add boolean `loading` property to buttons"
It would be useful to have "loading" property for all buttons([example](https://user-images.githubusercontent.com/2076953/129196919-27213a0e-aac9-4ae7-bd59-e1fe9ee2975a.png)) for cases when actions are asynchronous.

It's possible to use a [generic loader](https://user-images.githubusercontent.com/2076953/129197272-c3855b47-6155-4841-8483-61fcdcf18f3b.png), but it would be clearer to users if the

[2021-09-17 15:40] tomaskikutis opened #571 "Style issues in `Alert` component"
* padding is different between left/right
* predefined margin should be removed, because it is not always required. Sometimes only bottom margin is required, other times only top margin. The code will be cleaner if spacing is managed by the component rendering the alert.

![2021-09-17_15-29](https://user-images.githubusercontent.com/2076953/133791451-e422d65b-978e-4c69-8777-f99bcaafc38f.png)

[2021-09-22 10:34] fritzSF commented on #547
Append to body version of the tooltips is now available.

[2021-09-22 10:34] #547 closed

[2021-09-22 10:46] tomaskikutis commented on #547
One of the most important practices for quality components, in my opinion, is that components should work the same and not break even if moved to another place in the application. I suggest making append to body the default and removing the option.

[2021-09-22 12:41] fritzSF commented on #528
this not a valid classname for an icon, hence no result. Here are the avilable icons: https://ui-framework.superdesk.org/#/react/icon-font as a React component. Here as CSS classes: https://ui-framework.superdesk.org/#/components/icons

[2021-09-22 13:47] fritzSF commented on #571
The Alert component is actually not intended to be used in such cases. Rather as an stand-alone element inside forms or other mixed content, hence the default bottom margin. You will need the margin more often than not in such cases. I do agree though that it should be possible to disable the margin, if needed. We'll add the option either by adding a prop that handles the margin, or by removing it

[2021-09-22 13:57] fritzSF commented on #534
This was fixed on the Superdesk side, seems to be still an issue though. It is fixed on the framework side and will be available in v3.0

[2021-09-22 14:48] fritzSF commented on #547
We had performance issues with Tooltips in the past and switched to CSS only based for that reason. So a lightweight option will continue to exist for that reason.

[2021-09-22 17:00] tomaskikutis commented on #528
You are right, I was trying to use the icon names from filtering toolbar in monitoring and these icons have different names in ui-framework icons section.

[2021-09-22 17:00] #528 closed

[2021-09-23 09:28] tomaskikutis commented on #547
It'd be better to fix the performance issues instead. There can only be one tooltip displayed at a time, assuming they are displayed on hover, so it shouldn't be too hard to make them perform well.

[2021-11-18 18:29] tomaskikutis opened #574 "`Select` should respect `value` prop"
[code]

When value is changed externally, for example using the text input component in the snippet above, the dropdown keeps displaying the old value.

[2021-11-19 13:12] tomaskikutis opened #576 "Tabs do not work with `Layout.PanelHeader`"
In some cases, like ["send to" panel](https://user-images.githubusercontent.com/2076953/142627285-1133505a-a19d-4378-8e82-67848b3e7d0c.png), it is required to render tabs bar and content in different components. Current implementation does not allow this.

I suggest to either replace the current implementation or add an alternative one using the following interface:

[code]

A component for tab's

[2021-11-23 12:45] tomaskikutis opened #577 "Buttons do not grow in height regardless the amount of text"
I need it for "send to" pane. Here's an [example](https://user-images.githubusercontent.com/2076953/143025893-aa7f0652-ba7b-4b14-ba29-8f4ae6bbcc12.png) of text rendered outside the button. It is rendered correctly in the [current implementation](https://user-images.githubusercontent.com/2076953/143025896-8de6fd43-1575-481d-a51e-f6bb1c166918.png) of "send to" pane.

[2021-11-30 12:44] tomaskikutis commented on #577
Hi @pavlovicnemanja. When you close an issue, can you specify the commit that resolves it or comment on reasoning for deciding not to address the issue if that's the case?

[2021-11-30 12:46] tomaskikutis commented on #577
Sorry, I've clicked the wrong button, I didn't mean to reopen it. Well, you have a chance to close it with a proper comment now :smile:

[2021-11-30 14:44] tomaskikutis opened #578 "It doesn't work to initialize `Tabs` with n-th tab selected where n > 1"
Tabs component should accept the value indicating currently selected tab. Now, it is only possible to initialize with 1st tab selected.

I would also like the interface to be improved. It would be easier to use if there were less components and developers using the component wouldn't have to spend time thinking how to compose the components and which components are valid as children. It's easiest

[2021-11-30 14:45] tomaskikutis commented on #576
My bad, there's another component I didn't see that does work with `Layout.PanelHeader`. I've opened another issue to improve it  https://github.com/superdesk/superdesk-ui-framework/issues/578

[2021-11-30 14:45] #576 closed

[2021-12-02 12:02] tomaskikutis commented on #527
I also need this for selecting target subscribers

![target subscribers](https://user-images.githubusercontent.com/2076953/144417979-6c696c3f-0b02-4153-b3cf-0b7992ea0f20.png).

[2022-02-01 11:22] tomaskikutis opened #581 "Select: empty space is present at the top when label is not provided"
looks similar to #526

![2022-02-01_12-20](https://user-images.githubusercontent.com/2076953/151959704-480b99db-fed9-4893-aabf-57da2065facf.png)

[2022-02-02 12:24] tomaskikutis opened #582 "Tag component produces invalid HTML markup when placed inside a paragraph"
`Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>.`

[2022-02-07 15:53] fritzSF commented on #581
`<Select
      label='Some Label'
      value='This is some value'
      **labelHidden={true}
      inlineLabel={true}**
      required={false}
      disabled={false}
      invalid={false}
      onChange={(value) => {}}>`

[2022-02-07 15:56] fritzSF commented on #581
If you add _labelHidden={true}_ and _inlineLabel={true}_ props, the empty space will disapear.

[2022-02-07 15:59] fritzSF commented on #582
Changed <div> to <span>

[2022-02-07 16:31] tomaskikutis commented on #582
Thanks. Can you specify a commit which fixes it before closing the issue?

[2022-02-08 15:23] fritzSF commented on #581
Fixed in version  2.4.18

[2022-02-08 15:24] fritzSF commented on #582
Fixed in version 2.4.18

[2022-02-08 15:24] #582 closed

[2022-02-09 09:13] fritzSF commented on #526
Fixed in v2.4.18

[2022-02-09 09:13] #526 closed

[2022-02-23 14:17] pavlovicnemanja commented on #574
Fixed in v2.4.18

[2022-02-23 14:17] #574 closed

[2022-02-23 14:18] pavlovicnemanja commented on #577
@fritzSF what is conclusion on this ticket here?

[2022-02-23 14:18] pavlovicnemanja commented on #571
This improvements is done

[2022-02-23 14:18] #571 closed

[2022-02-23 14:27] pavlovicnemanja commented on #533
@dzonidoo Can you check if tabIndex prop is added to select in both version (3.0 and current one)?

[2022-02-24 09:02] tomaskikutis commented on #571
@pavlovicnemanja when closing issues, can you specify the commit that fixes it and a release when it is/will be available?

[2022-02-24 15:56] tomaskikutis commented on #581
* When `labelHidden` is passed, extra spacing is still present.
* When `labelHidden` is set, spacing disappears, but a part of the label is still visible.
*

![2022-02-24_16-41](https://user-images.githubusercontent.com/2076953/155559318-2a50dad5-03e5-4bf9-b95a-c5159c2cf5ca.png)

[2022-03-02 17:33] tomaskikutis opened #589 "Improve toggle-box"
* Expand to 100% width even when collapsed
* Add an option to avoid extra spacing (bottom margin)
* Review the style of hover state. Currently chevron has an underline that rotates when toggle box is expanded. Is it supposed to be like that?

![2022-03-02_18-29](https://user-images.githubusercontent.com/2076953/156415765-d42d47ee-e6c7-48ff-b122-a2ba03bc7c25.png)

[2022-03-04 16:18] tomaskikutis opened #590 "Accessibility labels for input components"
Review all input components to ensure that they have a possibility to specify a label or pass a `aria-labelledby` prop. It'd be best if both options were available.

Passing a label isn't supported for `RadioButtonGroup`.

[2022-03-04 16:31] fritzSF commented on #590
3.0 has that covered

[2022-03-04 16:31] tomaskikutis opened #591 "`RadioButtonGroup` should respect value prop"
The issue seems similar to #508.  No options are highlighted on the first render and when value is changed from outside the component it doesn't get highlighted either.

[2022-03-04 16:37] tomaskikutis opened #592 "Component request - number input"
UI framework version of `<input type="number" />` is needed.

[2022-03-04 16:46] tomaskikutis commented on #590
I don't see it for `RadioButtonGroup` in `beta-3.0.0` using the latest commit 4f8d6cb

[2022-03-04 16:52] fritzSF commented on #590
`<RadioButtonGroup options={[
    {value:'test6', label:'Button style radio'},
    {value:'test7', label:'Button style'},
    {value:'test8', label:'Button style'},
    {value:'test9', label:'Button style disabled', disabled:true},
]} value={this.state.value3} onChange={(value) => this.setState(() => ({ value3: value }))} />`

[2022-03-04 16:55] fritzSF commented on #590
label is mandatory, it can be hidden if we want show only an icon:
`<RadioButtonGroup options={[
    {value:'test10', label:'Radio button with icon', icon:'list-view', labelHidden: true},
    {value:'test11', label:'I have an icon!', icon:'grid-view', labelHidden: true},
    {value:'test12', label:'Yeah, me too!', icon:'kanban-view', labelHidden: true},
]} value={this.state.value4} onChange={(valu

[2022-03-04 17:05] tomaskikutis commented on #590
I was referring to a label of the radio group itself, not individual options.
![2022-03-04_18-01](https://user-images.githubusercontent.com/2076953/156807157-38069b5f-6c72-4df0-aec9-9f2f143a065d.png)

[2022-03-04 17:10] fritzSF commented on #590
aah, OK. All clear now.

[2022-03-07 14:01] tomaskikutis opened #593 "add "disabled" property to `IconButton`"
Here's the current interface:

[code]

[2022-03-10 11:17] fritzSF commented on #581
Well, it actually does. I know it's not very elegant, but we do have a lot of different use cases to cover. Example:
![Image 2022-03-10 at 12 02 14 [](PM](https://user-images.githubusercontent.com/1861461/157649737-cf7fe5be-29cb-40f6-a5fb-fa3c9e3395b8.png))
In cases like this, where one field has a label and the other one doesn't, we need the space on top to remain. Aligning items differently woul

[2022-03-10 12:34] tomaskikutis commented on #581
We could modify `labelHidden` to accept `keepSpacing` property to handle the situation shown in screenshot#1.

[code]

That's not urgent though, the most important now is fixing the glitch where a part of the label is still visible even if `inlineLabel` and `labelHidden` are both true.

To expand on screenshot#1, alignment wouldn't work in current implementation either if multi-line labels where u

[2022-03-17 12:44] #568 closed

[2022-03-17 12:44] dzonidoo commented on #568
Fix version v.2.1.20

[2022-03-17 12:45] #578 closed

[2022-03-17 12:45] dzonidoo commented on #578
Fix version v.2.1.20

[2022-03-17 12:46] pavlovicnemanja commented on #581
Fixed issue with labels, fix version: v2.4.20. Improvement for keepSpacing is done on beta-3.0.0

[2022-03-17 12:46] #581 closed

[2022-03-17 12:47] pavlovicnemanja commented on #592
Done on beta.3.0.0, @dzonidoo please create same thing on master branch

[2022-03-17 12:48] pavlovicnemanja commented on #577
As discussed with @fritzSF we don't want to allow buttons to grow in three lines, so in this case issue can be fixed on client-core side, but we will try to keep all labels in max two lines

[2022-03-17 12:48] #577 closed

[2022-03-17 12:54] tomaskikutis commented on #568
@dzonidoo can you link commits that are fixing the issue when closing issues?

[2022-03-17 13:06] tomaskikutis commented on #577
Buttons [grow by default](https://jsfiddle.net/x3bwmc7z/) unless you are limiting it manually. Why not drop the limitation?

We never know the length of translated text and thus line count either. Why not make it default to a bigger button instead of [breaking](https://user-images.githubusercontent.com/2076953/143025893-aa7f0652-ba7b-4b14-ba29-8f4ae6bbcc12.png) the design?

[2022-03-17 13:08] dzonidoo commented on #568
https://github.com/superdesk/superdesk-ui-framework/pull/588 @tomaskikutis

[2022-03-17 13:10] pavlovicnemanja commented on #577
@fritzSF requests, as he is a head of design I don't want to go into his decision

[2022-03-17 13:15] dzonidoo commented on #568
Yep. I allready added. @tomaskikutis

[2022-03-21 13:43] tomaskikutis opened #597 "Component request - tree select"
It needs to work in a generic way, but use cases I'm looking at right now are selecting [subjects](https://user-images.githubusercontent.com/2076953/159261019-2891d431-f883-495f-9433-7ea9e78ead25.png) and [authors](https://user-images.githubusercontent.com/2076953/159262133-edc44652-2f6c-49e8-b0a0-ca1514fe9991.png).

Required features:
* Selecting multiple items
* Searching items (preferably in al

[2022-03-22 10:57] tomaskikutis opened #598 "Dropdown - some items are displayed outside of the viewport and can't be selected"
![not all items are displayed](https://user-images.githubusercontent.com/2076953/159466394-fb257c08-1bb0-4725-b41b-157baebce064.png)

[2022-03-22 10:58] tomaskikutis opened #599 "Dropdown - items sometimes remain after an option was already selected"
I suspect it is caused by component not cleaning up when being unmounted

https://user-images.githubusercontent.com/2076953/159466872-d380c194-f824-429a-b002-ce3a52785faf.mp4

[2022-03-22 11:39] tomaskikutis opened #600 "Dropdown - displayed below modal and options can't be selected"
Can be reproduced at https://github.com/tomaskikutis/superdesk-client-core/commit/e7471d958f156a9d3e2fdd8e7f4ab29c2e915d9d

The issue doesn't reproduce if `Menu` component from ui-framework is being used - so I think the issue is with dropdown rather than with modal.

https://user-images.githubusercontent.com/2076953/159473426-5f77b716-e495-4fb4-9152-ed1c66fa3266.mp4

[2022-03-22 16:34] dzonidoo commented on #593
Resolved on beta 3.0.0

[2022-03-22 16:34] #591 closed

[2022-03-22 16:34] dzonidoo commented on #591
https://github.com/superdesk/superdesk-ui-framework/pull/601

[2022-03-24 09:52] tomaskikutis commented on #597
I have modified the initial interface to support asynchronous mode that is required for selecting locations from a remote geonames API.

![2022-03-24_10-47](https://user-images.githubusercontent.com/2076953/159889406-bc36eb89-ac92-4386-91a1-fcd869afee24.png)

[2022-03-24 11:49] tomaskikutis commented on #597
I've added another property to the interface - `allowMultiple`. When it's not `true`, it should only allow one value and display a appropriate UI component, something like this:
![2022-03-24_12-44](https://user-images.githubusercontent.com/2076953/159910014-3ed46171-5b52-45d4-8403-1dc0bf53cbfc.png)

[2022-03-29 11:50] #592 closed

[2022-03-29 11:50] dzonidoo commented on #592
https://github.com/superdesk/superdesk-ui-framework/pull/603

[2022-03-29 11:51] #533 closed

[2022-03-29 11:51] #508 closed

[2022-03-29 11:51] dzonidoo commented on #508
https://github.com/superdesk/superdesk-ui-framework/pull/602

[2022-04-04 12:26] tomaskikutis opened #607 "`AuthoringMain` component - header height is limited to 800px; layout breaks if there is more content"
See solution in client-core https://github.com/superdesk/superdesk-client-core/pull/4073

[2022-05-03 09:05] tomaskikutis opened #610 "Improve date picker to support removing the date"
https://ui-framework.superdesk.org/#/react/date-picker

Currently if entire date is deleted from the input, it gets restored on blur.

[2022-05-03 10:34] tomaskikutis opened #611 "Fix types for number input"
https://github.com/superdesk/superdesk-ui-framework/blob/beta-3.0.0/app-typescript/components/Input.tsx#L18

It should accept `number` as value and `onChange` method should also provide a `number` instead of string.

The interface may be written like this:

[code]

[2022-05-10 14:34] tomaskikutis opened #612 "IconButton - tooltip doesn't disappear when button switches to disabled state"
![Peek 2022-05-10 16-31](https://user-images.githubusercontent.com/2076953/167653870-b40e226a-12bf-4ad4-8e30-8f4a8fcec5a7.gif)

[2022-05-10 14:38] tomaskikutis opened #613 "IconButton - expose more styling options"
I want to configure icon buttons to appear as in this screenshot:
![2022-05-10_16-36](https://user-images.githubusercontent.com/2076953/167654903-8f30888e-2095-42a2-b6a0-7a288f50ee87.png)

[2022-05-11 10:03] dzonidoo commented on #597
https://github.com/superdesk/superdesk-ui-framework/pull/614

[2022-05-11 10:10] #610 closed

[2022-05-11 10:10] dzonidoo commented on #610
https://github.com/superdesk/superdesk-ui-framework/pull/615

[2022-05-11 10:53] tomaskikutis commented on #597
The interface doesn't match the one requested in #614
* there's no asynchronous mode
* templates do not receive an item thus can't work properly
* `canSelectBranchWithChildren` doesn't receive a branch as an argument

[2022-05-16 16:25] tomaskikutis opened #619 "Alert component doesn't respect margin property"
If I set it to "none" margin is still shown.

[2022-05-20 09:24] fritzSF commented on #613
Done. Available in v.3.0.0-beta.1
Example: <IconButton style='outlineWhite' size='x-large' icon='crop' ariaValue='Edit crops' onClick={()=> false} />
You can place them in a ButtonGroup as well, like so:
`<ButtonGroup align='center' spaces='loose'>
    <IconButton style='outlineWhite' size='x-large' icon='pencil' ariaValue='Edit metadata' onClick={()=> false} />
    <IconButton style='outlineWhite

[2022-05-20 12:12] fritzSF commented on #619
I tested this, it should work. Maybe you have and older version of the framework? Please try the latest beta - v.3.0.0-beta.1
`<Alert style='hollow' size='normal' type='success' restoreIcon='info' margin='none'>
    Sed tincidunt ipsum metus...
</Alert>`

[2022-05-20 12:12] #619 closed

[2022-05-20 13:50] tomaskikutis commented on #619
My bad, I had 2 alert components, was adding a margin property on one and checking if it works on another :man_facepalming:

[2022-05-20 14:27] fritzSF commented on #619
no worries :)

[2022-05-24 15:42] fritzSF commented on #590
It's done in version 3.0.1-beta.0. Example:

`<RadioButtonGroup group={{groupLabel: 'My group label'}}
    options={[
    {value:'test6', label:'Button style radio'},
    {value:'test7', label:'Button style'},
    {value:'test8', label:'Button style'},
]} value={this.state.value3} onChange={(value) => this.setState(() => ({ value3: value }))} />`

[2022-05-24 15:42] #590 closed

[2022-05-25 12:10] tomaskikutis commented on #613
![2022-05-25_14-06](https://user-images.githubusercontent.com/2076953/170258246-6296a2d9-1583-45e9-8497-9c6b506d6be8.png)

[code]

Looks like I'll need some more styling options to implement plus button. The biggest issue is that I can't choose a color. Empty space around the button looks too big as well.

[2022-05-25 12:55] fritzSF commented on #613
You can use the default Button component:
<Tooltip text="new item" >
    <Button type="primary" icon="plus-large" text="new item" size="small" shape="round" iconOnly={true} onClick={()=> false} />
</Tooltip>

[2022-05-25 12:55] #613 closed

[2022-05-25 13:18] tomaskikutis commented on #613
Thanks, that one works. Except that it doesn't support `aria-label`.

Why do we have both - `iconOnly` mode for `Button` component and separate component for icon buttons? Could one of those be removed? It seems the purpose is the same.

[2022-05-25 13:49] tomaskikutis opened #624 "Input component - extra spacing is present"
![2022-05-25_15-42](https://user-images.githubusercontent.com/2076953/170277657-59a7f13c-089c-4c08-929d-ed5bcd74938e.png)

Reproduces on this commit(latest on beta-3.0.0 branch):
[code]

Similar to #526 #581

[2022-05-25 13:55] fritzSF commented on #613
The 'text 'actually becomes the `aria-label` if iconOnly={true}. For now, I would keep both. IconButton is a much simpler component, intended for actions in lists, modal headers etc. Different colour options because of this were never intended.

[2022-06-10 15:00] tomaskikutis opened #626 "`Nav.SideBarTabs` lacks an option to display additional information like item count"
I'd like to display attachments count, but an no props to display additional information next to an icon are available.

![2022-06-10_16-55](https://user-images.githubusercontent.com/2076953/173093400-f4f7fdf0-2308-48e8-934d-c75a23d06545.png)

[2022-06-14 13:57] tomaskikutis opened #627 "Remove `invalid` property from `Input` component"
`invalid` is a property derived from `error`. If there's an error present - `invalid` should always be true and vice versa. Otherwise it's inconvenient to use. For example, if I need to call a function to get an error message, I have to store the result in the scope so I can use it in 2 places.

[2022-06-14 14:52] tomaskikutis opened #629 "fix invalid property name in `Spinner` component"
[code]

[2022-06-15 08:06] fritzSF commented on #629
no, 'stroke-width' is a native SVG property.

[2022-06-15 08:35] tomaskikutis commented on #629
The problem is that JSX is neither native HTML nor native SVG. All attributes have to be camel-cased except `aria-` and `data-` attributes. https://reactjs.org/docs/dom-elements.html

[2022-06-15 08:54] fritzSF commented on #624
fixed in **v.3.0.0-beta.1**

[2022-06-15 08:54] #624 closed, assigned to nobody

[2022-06-15 10:10] fritzSF commented on #629
OK, no problem, I'll make the change. I feared that the SVG would not render correctly - it does dough. The funny thing is that VS Code doesn't report 'stroke-width' as an error, it usually does in such cases. Linter goes trough it as well.
Fix version: v.3.0.0-beta.2

[2022-06-15 10:10] #629 closed, assigned to nobody

[2022-06-15 12:28] fritzSF commented on #626
fix version: v.3.0.0-beta.2

[2022-06-15 12:55] fritzSF commented on #626
Add 'badgeValue:' where needed. Example:
`<Nav.SideBarTabs
    items={[
        { icon: 'history', size: 'big', tooltip: 'History', onClick:()=> false },
        { icon: 'comments', size: 'big', tooltip: 'Inline Comments', **badgeValue: '5'**, onClick:()=> false },
        { icon: 'suggestion', size: 'big', tooltip: 'Suggestions', onClick:()=> false }]} />`

[2022-06-15 12:55] #626 closed, assigned to nobody

[2022-06-15 13:43] tomaskikutis opened #630 "Component request - duration input"
![2022-06-15_15-15](https://user-images.githubusercontent.com/2076953/173836163-875b342a-4670-4c46-af22-8b1d5a69f14a.png)

Can be implemented as a separate component, or simply as another input type in addition to already existing "text", "number" and "password".

What I would improve related to the input in the design, is add labels "h, m, s" so it's clear what the numbers mean, and also keep val

[2022-06-16 10:42] tomaskikutis opened #633 "Caret overflows on top of value text in `Select` component"
When width is equal to its content:

![2022-06-16_12-34](https://user-images.githubusercontent.com/2076953/174052605-b1b5531d-7ef7-44f8-8872-e381df0b59d2.png)

Code for reproduction: (generated by ui-framework input and select components, flexbox container is not from ui-framework)
[code]

[2022-06-16 10:57] tomaskikutis opened #634 "`Layout.AuthoringMain` optional toolbar/authoringHeader"
`authoringHeader` is optional, but is rendered empty if not provided
`toolbar` is mandatory and should be made optional - I don't have a purpose for it when a rundown template is being created and there's no saved metadata to be displayed

[2022-06-17 08:06] fritzSF commented on #634
fix version: v.3.0.0-beta.2

[2022-06-17 08:06] #634 closed, assigned to nobody

[2022-06-17 08:07] fritzSF commented on #607
fix version: v.3.0.0-beta.2

[2022-06-17 08:07] #607 closed

[2022-06-17 09:07] tomaskikutis opened #636 "Component request - frequency input field"
## Use case
![2022-06-17_10-42](https://user-images.githubusercontent.com/2076953/174261990-49ad10b9-7776-4ea9-aee2-ceb5f955c076.png)

## Requirements
* use `rrule` format
* should be possible to render in read-only mode
* should be possible set empty value(`null`)

## Interface
[code]

## References

rrule format - https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html
reference im

[2022-06-20 04:53] MarkLark86 commented on #636
IMO the value object should be a more well defined interface containing the supported options available to the component.
For example (not complete):
[code]

This will make this component useful in areas where CRON is not used as a storage and/or traversal format.
If need be, the UI-Framework could provide a wrapper around this component to use CRON as a format.

[2022-06-20 08:35] tomaskikutis commented on #636
cron is a more complete format, so I'd be more inclined to use it as a primary one. We could implement a subset of it if we wanted, and add more options later without having to change the interface.

I'm happy though to leave implementation details up to whoever implements it, given that there's a wrapper component provided that works with cron format.

[2022-06-21 11:43] tomaskikutis opened #639 "`DatePickerISO` component - extra spacing is present"
similar to #624

beta 3, commit a8eb76f8379f6df74b39b2bb3d0e0c885f50f0ae

![2022-06-21_13-37](https://user-images.githubusercontent.com/2076953/174790942-9db4208d-1fef-471e-ab99-b0d33f7a1ddd.png)

Usage:
[code]

HTML generated by react component

[code]

[2022-06-21 13:23] dzonidoo commented on #597
https://github.com/superdesk/superdesk-ui-framework/pull/621/files

[2022-06-21 13:23] dzonidoo commented on #611
https://github.com/superdesk/superdesk-ui-framework/pull/640

[2022-06-21 13:29] dzonidoo commented on #519
Fixed on beta3.0.0 and master branch.

[2022-06-21 13:33] dzonidoo commented on #527
https://github.com/superdesk/superdesk-ui-framework/pull/621
https://github.com/superdesk/superdesk-ui-framework/pull/608

[2022-06-21 13:46] #519 closed

[2022-06-21 13:47] dzonidoo commented on #589
Fixed on beta3.0.0.

[2022-06-22 03:52] MarkLark86 commented on #636
Will also need a `firstDayOfWeek` property to localise the list of days for the region (i.e. first day is either `Sunday` or `Monday`).
Same value as provided to `DatePicker` component (https://github.com/superdesk/superdesk-ui-framework/blob/master/app-typescript/components/DatePicker.tsx#L19)

[2022-06-22 09:54] tomaskikutis commented on #597
* the interface doesn't conform to the one provided in this ticket (I don't mind additional fields)
* the component is not exported from ui-framework, thus can't be imported from superdesk client

[2022-06-22 10:15] tomaskikutis commented on #611
Looks good. Though I forgot one thing when providing interfaces - number input should support an empty value via `null`. At the moment, if input is cleared, the value gets set to zero which is incorrect(should be `null`). Can you fix this?

[code]

[2022-06-22 11:58] dzonidoo commented on #627
https://github.com/superdesk/superdesk-ui-framework/pull/641

[2022-06-22 11:58] #627 closed, assigned to nobody

[2022-06-22 12:25] dzonidoo commented on #639
https://github.com/superdesk/superdesk-ui-framework/pull/642

[2022-06-22 12:33] dzonidoo commented on #611
Sure... I'll fix it...

[2022-06-22 13:18] tomaskikutis commented on #636
@petrjasek  suggested we use rrule format instead of cron since it's more flexible. I've adjusted the issue description accordingly.

[2022-06-28 08:18] pavlovicnemanja commented on #630
@tomaskikutis what is expected output of this component? Should it be string or object?
[code]

or

[code]

[2022-06-28 08:29] tomaskikutis commented on #630
Sorry, forgot to mention this - duration in seconds `01h 0m 01s` would output to `3601` (number)

[2022-06-28 09:01] pavlovicnemanja commented on #630
ok, tnx!

[2022-06-28 12:09] tomaskikutis opened #646 "Component request - large input field"
It would work if a style option was be added to the existing text field.

![2022-06-28_14-05](https://user-images.githubusercontent.com/2076953/176174388-6009db0c-b0d7-45ae-bf74-398e1c230258.png)

[2022-06-30 11:14] tomaskikutis commented on #639
Reopening due to similar issue on beta 3, commit efabe01. This time extra spacing is at the bottom.

![2022-06-30_13-11](https://user-images.githubusercontent.com/2076953/176663458-9de366b1-2c78-434d-a5fa-7bd3d41dceb2.png)

[2022-06-30 13:18] tomaskikutis opened #648 "Set the same opacity for disabled input fields"
All inputs in the screenshot are disabled. Reproduces using beta 3 branch, commit eb5111e
![2022-06-30_15-11](https://user-images.githubusercontent.com/2076953/176685773-8fec7648-35d2-47d9-8bc5-e1b0f1dec42b.png)

[2022-07-01 14:59] fritzSF commented on #646
Added in the latest version.
`<Input label='Input label'
                                    value={''}
                                    boxedStyle={true}
                                    size='x-large'
                                    maxLength={25}
                                    type='text'
                                    placeholder='Extra large boxed input'

[2022-07-01 14:59] #646 closed, assigned to nobody

[2022-07-01 15:00] fritzSF commented on #633
Fixed in the latest version

[2022-07-01 15:00] #633 closed, assigned to nobody

[2022-07-12 08:57] dzonidoo commented on #612
https://github.com/superdesk/superdesk-ui-framework/pull/643

[2022-07-12 08:57] #612 closed

[2022-07-12 11:35] tomaskikutis commented on #597
@dzonidoo I tried testing it, but as mentioned in the previous comment, tree select component isn't exported from ui-framework and thus can't be used. It should be exported via `app-typescript/index.ts`.

Add "testing" label again when this is fixed.

[2022-07-14 09:20] tomaskikutis opened #652 "Support HEX colors for `Label` component"
Rundown item type options and colors will be set via a vocabulary. Vocabularies use native color inputs that output HEX colors.

![2022-07-14_11-11](https://user-images.githubusercontent.com/2076953/178947797-adf2037d-3538-4d6e-b62f-20ecce1d284b.png)

[2022-07-14 10:02] tomaskikutis opened #653 "`TableList` component is not exported"

[2022-07-14 10:19] tomaskikutis opened #654 "How to handle reordering of items using `TableList`?"
Could you provide an example on how would I use `TableList` and reorder users in this snippet?

[code]

[2022-07-18 10:16] dzonidoo commented on #654
`interface IPropsArray {
    start?: React.ReactNode;
    center?: React.ReactNode;
    end?: React.ReactNode;
    action?: React.ReactNode;
}`

- This array you provide doesn't compile with interface.

`import * as React from 'react'

export class UserManagement extends React.PureComponent<IProps, IState> {
    constructor(props: IProps) {
        super(props);

        this.state = {

[2022-07-18 10:31] tomaskikutis commented on #654
We will never store data in database using `{center: 'John', end: 'Doe'}` format. There has to be a way to use the component with any format - either directly or with intermediate transformed object. Can you provide a usage example within the snippet I provided without changing the `IState` interface?

[2022-07-20 14:25] tomaskikutis opened #656 "How to use `Layout.AuthoringFrame` inside a modal?"
Currently, the problem is that 2 scrollbars appear and toolbar doesn't stay at the top

![2022-07-20_16-12](https://user-images.githubusercontent.com/2076953/180004222-987db132-1dc1-467d-bf3b-876d0cb09edd.png)

If hardcoded height is removed from the main section, second scrollbar disappears, but toolbar no longer remains at the top
![2022-07-20_16-20](https://user-images.githubusercontent.com/207

[2022-07-22 11:08] #656 closed, assigned to nobody

[2022-07-26 13:49] fritzSF commented on #652
Added in the latest version:
`<Label text='Hex: #008773' hexColor='#008773'/>`

[2022-07-26 13:49] #652 closed, assigned to nobody

[2022-07-26 14:43] fritzSF commented on #639
This is fixed already.

[2022-07-26 14:43] #639 closed, assigned to nobody

[2022-07-26 16:32] tomaskikutis commented on #639
Could you link a commit fixing the issue when you close it? In this case, I assume it's 46595ac that fixes this?

[2022-07-26 16:39] tomaskikutis commented on #653
Still not exported in latest beta 3 code (f614594bda798fd09c8e6f3ec864ea7af3dccebe)

[2022-07-27 08:58] fritzSF commented on #639
I think it was part of a previous change, it's just now that I tested it.

[2022-07-27 12:06] tomaskikutis opened #659 "Dropdown - nested items can't be selected"
Reproduces on beta 3 latest code (f614594)

https://user-images.githubusercontent.com/2076953/181242312-e1be085d-94fc-40a8-b68a-dddac08da914.mp4

[code]

[2022-07-28 12:15] tomaskikutis opened #660 "Inputs are styled as invalid even after validation issues are fixed"
Error message disappears as it is supposed to.

https://user-images.githubusercontent.com/2076953/181502323-34f98d9f-79c3-4dd9-9e15-973d3fa4ea5d.mp4

[code]

[2022-07-29 09:52] tomaskikutis commented on #597
It looks better @dzonidoo, but there are still issues:

* ~single select [should be displayed as such](https://user-images.githubusercontent.com/2076953/159910014-3ed46171-5b52-45d4-8403-1dc0bf53cbfc.png)~
* if `value template` is not provided, it should use `option template`
* menu should open to the top if there's [not enough space at the bottom](https://user-images.githubusercontent.com/2076953

[2022-07-29 10:08] tomaskikutis commented on #597
✔️ ~One more thing, could you add a prop that would limit search only to a level that is being shown at any time? It's needed in authors select, because showing "editor" role doesn't make sense when it's not clear to which user does it belong.~

[2022-08-17 11:23] fritzSF opened #664 "LeftMenu component – activeItemId is not working"
@dzonidoo, the _activeItemId_ prop isn't working as expected, it doesn't activate the selected item.

[2022-08-22 14:28] tomaskikutis opened #665 "Validation errors are no longer displayed for text inputs"
Working: 473c396
Broken: 7c8c7af (latest commit)

Code sample:

[code]

[2022-08-23 11:30] tomaskikutis commented on #597
@dzonidoo here are the issues I found after latest testing:

* ~menu should open to the top if there's [not enough space at the bottom](https://user-images.githubusercontent.com/2076953/181732350-f36170e1-b833-442e-9e58-da79f8b7f004.png) (was already reported before)~ (partially fixed, causes flickering in async mode as described in following comment)
* ~async mode - if search field is empty, `sea

[2022-08-23 12:01] tomaskikutis commented on #630
I've tested the component and found the following issues:
* [numbers are cut off](https://user-images.githubusercontent.com/2076953/186151611-466b8b9f-aa90-4d3e-b067-5fd9df68d1e2.png)
* focus management is broken - hitting TAB/shift+TAB should go to next/previous inputs - duration input should be treated as a single input, even if it is made of multiple parts - see native time/date inputs
* if I s

[2022-08-23 14:11] tomaskikutis commented on #630
One more thing, to display a user-friendly diff view between 2 values, I need a function exported that I would pass seconds to, and the function would return a duration string in the same format as input uses e.g. `getString(3601) // '01h 00m 01s'`

[2022-08-23 14:18] tomaskikutis commented on #630
~found a bug: component causes an infinite loop and crashes (`onChange` is being called in `componentDidUpdate`)~

[2022-08-24 09:10] tomaskikutis commented on #630
Regarding [numbers being cut off](https://user-images.githubusercontent.com/2076953/186151611-466b8b9f-aa90-4d3e-b067-5fd9df68d1e2.png), I found that it's caused by superdesk applying paddings to all input elements. The quickest solution would be to set padding to zero inside duration input

[2022-08-25 07:45] tomaskikutis opened #666 "How to use `Layout.ContentSplitter` component?"
I currently add it the following way:
[code]

The are 2 problems:
* Unless there's an element forcing height, the splitter collapses and content is not visible: [video](https://user-images.githubusercontent.com/2076953/186605385-80799e64-7a68-47e2-9497-ad65cd9f3f42.mp4)
* Resizing sections doesn't work

[2022-08-29 08:38] tomaskikutis opened #667 "`ContentList` - clicks on elements provided via `action` prop triggers `onClick` on the entire item"
[image](https://user-images.githubusercontent.com/2076953/187159620-0e852f1c-5450-4430-a797-d901fc274eac.png)

Example:
* I have `item 1` opened for editing
* I want to delete `item 2`, I click 3-dots-menu provided via `actions` prop
* `onClick` on `item 2` gets triggered and it opens the item in edit mode

`item 1` should have remained in edit mode - it should be possible to delete `item 2` witho

[2022-08-30 11:50] tomaskikutis commented on #636
I've talked with Petr and we decided to stop work on this until we need the component somewhere else. For rundowns, I implemented a simple version of this that only supports weekly frequency

[2022-08-30 11:50] #636 closed, assigned to nobody

[2022-08-30 13:37] fritzSF commented on #666
The ContentSplitter is basicaly only a divider between the list/content view and the editor.  The splitter functionality isn't done on the framework side. We should have a discussion about that, if and how we should implement it. As for the other issues let us discuss it in a live sesion, I can't tell what it is based on the layout code I can see in the video.

[2022-08-30 13:46] tomaskikutis commented on #666
I saw there are 3rd party splitter libraries that do have resizing implemented. Maybe you could take one of them, modify the design if you want to, and make it available as an ui-framework component?

[2022-08-30 15:19] fritzSF commented on #666
We started looking at some available options, this one seems promising for our purpose: https://www.npmjs.com/package/@geoffcox/react-splitter
We'll probably add it for testing.

[2022-08-31 15:07] tomaskikutis commented on #597
### Results from latest testing on https://github.com/superdesk/superdesk-ui-framework/pull/669 at commit 8946db4

This doesn't work well in async mode - [video](https://user-images.githubusercontent.com/2076953/187622858-07fa19e4-d803-469b-b6b8-aa46f27cbe91.mp4)

doesn't look fixed - [video](https://user-images.githubusercontent.com/2076953/187623766-6dac097a-c7b6-4d6b-8b1d-2b64e2ab8c7f.mp4)

<hr

[2022-08-31 16:37] tomaskikutis commented on #630
* numbers are still being cut off
* `getTime`(which I renamed to `getDurationString`), should output `'01h 00m 01s'`, instead of `00:00:01`

Focus management is still not ideal since duration input is made of 3 inputs - when it should be one. Implementing it properly wouldn't be easy since it would required advanced input masks, so I guess we can live with that one.

[2022-09-01 10:51] tomaskikutis commented on #597
### Newly found issues:
* read-only and disabled modes do not work in single select mode (items can still be selected)

[2022-09-05 11:19] tomaskikutis opened #670 "`SearchBar` - provide value when `onSubmit` is called"

[2022-09-07 11:27] tomaskikutis commented on #597
### Newly found issues:
* Causes rundown item editing to crash

To reproduce:
* Checkout https://github.com/superdesk/superdesk-client-core/tree/broadcasting
* Revert commit c9b3abf
* run client against sd-broadcasting.test.superdesk.org test instance
* [open rundown item for editing](https://user-images.githubusercontent.com/2076953/188463388-b6500bb0-331c-45ef-b9e3-7b9497024325.png), try adding

[2022-09-08 11:57] dzonidoo commented on #665
https://github.com/superdesk/superdesk-ui-framework/pull/672

[2022-09-08 12:59] #648 closed, assigned to nobody

[2022-09-09 10:09] #660 closed, assigned to nobody

[2022-09-09 11:19] dzonidoo commented on #527
https://github.com/superdesk/superdesk-ui-framework/pull/672

[2022-09-09 11:19] #527 closed

[2022-09-09 12:20] dzonidoo commented on #670
https://github.com/superdesk/superdesk-ui-framework/pull/674
I also added enter key functionality to trigger onSubmit...

[2022-09-10 11:33] tomaskikutis commented on #670
Only close issues when work is finished - if there's an open PR, it's not finished yet

[2022-09-10 12:53] #630 closed, assigned to nobody

[2022-09-10 12:55] tomaskikutis opened #675 "Duration input doesn't update when value changes"
https://user-images.githubusercontent.com/2076953/189484313-6a91f06d-18e2-4bba-b2ea-91c2bb9351d5.mp4

[2022-09-10 13:01] tomaskikutis opened #676 "Duration input focus & value issue"
* input value is `01h21m02s`
* cursor is placed in the beginning of minutes field, before `2`
* `3` is typed

Actual result: minutes become `32`, cursor moves to seconds
Expected result: minutes become `31`, cursor stays in minutes

https://user-images.githubusercontent.com/2076953/189484407-cfe36627-79d1-4e54-80d9-38c51e79c505.mp4

[2022-09-13 08:00] pavlovicnemanja commented on #654
@tomaskikutis

` <TableList>
                {this.state.array.map((user) =>
                    <TableListItem
                        start={
                            <>{user.firstName} {user.lastName}</>
                        }
                        center={
                            <span>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.<

[2022-09-13 08:00] pavlovicnemanja commented on #654
[code]

[2022-09-13 08:01] pavlovicnemanja commented on #654
@tomaskikutis if you need some further discussion on this, just ping me

[2022-09-13 08:21] tomaskikutis commented on #654
@pavlovicnemanja the part I'm most interested in, is how would one update the state after reordering. Can you include that in the example?

[2022-09-13 15:14] tomaskikutis opened #677 "`Layout.Panel` - controlling the size doesn't work"
I tried setting `size="full"` and `size="auto"` but neither make the panel take 100% of width.

[code]

Can be tested at https://sd-broadcasting.test.superdesk.org/  (rundown 002)

client: 9152c67af (latest at broadcasting branch)
ui-framework: 09b6208 (latest at beta 3 branch)

![image](https://user-images.githubusercontent.com/2076953/189937906-bdf84f35-66b1-4538-85b4-3b45b4023d9a.png)

[2022-09-15 07:46] pavlovicnemanja commented on #654
Hi @tomaskikutis I included `onDrag` prop witch should return start position and end position of item. Use case:
[code]

if you need some more data, just ping me and I will add. Thanks.

[2022-09-15 07:48] pavlovicnemanja commented on #653
@dzonidoo can you please make a pull request for export?

[2022-09-15 08:04] pavlovicnemanja commented on #665
@tomaskikutis is this confirmed? can it be closed?

[2022-09-15 08:07] pavlovicnemanja commented on #670
@tomaskikutis can you test and close the issue? tnx

[2022-09-15 08:23] #665 closed, assigned to nobody

[2022-09-15 08:36] tomaskikutis commented on #670
I think it's an overkill for me to test every single tiny change. If you fully understand the issue, feel free to merge it and close GitHub issue without my me.

[2022-09-15 08:39] tomaskikutis commented on #654
@pavlovicnemanja I see that neither of 2 components in your example are exported and ready to be tested. Don't assign it to me until it's really ready :)

[2022-09-15 08:43] pavlovicnemanja commented on #670
I agree, but previous agreement was not to close issue until you confirmed it.

[2022-09-15 08:51] tomaskikutis commented on #670
Maybe it was a misunderstanding. If I don't tell in advance that I want to test a certain thing, merge it without me. I sometimes want to check some complex new components like tree select, but that's an exception, not the rule.

[2022-09-15 08:52] pavlovicnemanja commented on #670
works for me! :)

[2022-09-15 09:42] fritzSF commented on #677
It's a CSS isue on the parent container. I'm fixing it in the next commit.

[2022-09-15 10:11] tomaskikutis commented on #666
content collapsing is fixed, resizing won't be implemented for rundowns MVP

[2022-09-15 10:33] pavlovicnemanja commented on #666
Lets keep it for now, because we won't to implement splitter in this version of ui framework

[2022-09-15 10:49] pavlovicnemanja commented on #653
Exported now @tomaskikutis

[2022-09-15 10:49] #653 closed, assigned to dzonidoo

[2022-09-15 10:49] pavlovicnemanja commented on #670
Tested and confirmed

[2022-09-15 10:49] #670 closed, assigned to nobody

[2022-09-15 10:50] pavlovicnemanja commented on #654
@tomaskikutis Components are now exported, you can test this

[2022-09-15 13:51] dzonidoo commented on #675
https://github.com/superdesk/superdesk-ui-framework/pull/678

[2022-09-15 13:51] #675 closed, assigned to dzonidoo

[2022-09-15 13:52] dzonidoo commented on #676
https://github.com/superdesk/superdesk-ui-framework/pull/678

[2022-09-15 15:42] tomaskikutis opened #681 "Upgrade `TimePicker` to allow specifying seconds"
See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time#using_the_step_attribute

[2022-09-15 15:46] pavlovicnemanja commented on #664
@fritzSF can you verify that this issue is fixed? tnx

[2022-09-15 15:46] #664 closed, assigned to dzonidoo

[2022-09-15 16:07] tomaskikutis commented on #654
@pavlovicnemanja can you provide a **working** example by modifying the snippet that is in the issue description? I did take a look and don't think it would work as is.

[2022-09-16 10:59] dzonidoo commented on #681
https://github.com/superdesk/superdesk-ui-framework/pull/682

[2022-09-16 10:59] #681 closed, assigned to dzonidoo

[2022-09-16 11:04] pavlovicnemanja commented on #654
Hi @tomaskikutis , I updated rundown playground with working example.

This is code snippet:
[code]

![image](https://user-images.githubusercontent.com/6507688/190625315-a825c123-79a2-4240-a101-f2246498a8cc.png)

[2022-09-16 14:55] tomaskikutis commented on #654
Thanks, it's working a little bit now.

### Issues
* `itemsDropdown` - if not provided, or is empty, errors are thrown in the console
* `itemsDropdown` - index should be provided in the callback. Otherwise it's not possible to differentiate a click between 1/2 items from a click between 5/6
* `Dropdown` component [gets covered](https://user-images.githubusercontent.com/2076953/190664900-319f15a4-4

[2022-09-19 11:48] tomaskikutis commented on #654
A few more things that I need:
* The plus button to add an item, should be visible even if there are no items in the list yet
* There should be a `readOnly` prop, that would not allow reordering nor adding new items

[2022-09-20 11:14] tomaskikutis opened #683 "Improve `Searchbar`"
* `value` and parameter in `onSubmit` should be a string, not `string | number`
* clearing search bar should trigger `onSubmit`

[2022-09-20 11:20] tomaskikutis opened #684 "`Layout.AuthoringMain` - `headerCollapsed` prop doesn't work"
I set it to `true` in order to initialize it collapsed, but it still initializes expanded.

[2022-09-20 13:45] tomaskikutis commented on #654
I also need `onClick`, `onDoubleClick` handlers to trigger preview/editing. Clicking elements inside `IPropsArrayItem['acton']` should not trigger them.

[2022-09-20 13:53] fritzSF commented on #684
Yep, it's a bug. We are on it.

[2022-09-20 14:12] tomaskikutis opened #685 "`TimePicker` - value not visible"
https://user-images.githubusercontent.com/2076953/191280657-09c1ba48-fee3-405a-aec6-591d9f9f568b.mp4

[2022-09-21 10:32] tomaskikutis commented on #654
I noticed there is no prop to pass a [border color](https://user-images.githubusercontent.com/2076953/191482057-34431fb3-ae0b-418c-bd8d-5e48084c0bb3.png), I'll need that as well. It should work with HEX colors.

[2022-09-22 09:03] tomaskikutis opened #686 "`getDurationString` - do not include hours if zero"
If duration is less than an hour - do not include hours in the string.

ACTUAL: `00h 01m 00s`
EXPECTED: `01m 00s`

[2022-09-22 11:29] tomaskikutis commented on #676
Probably related: after double clicking hours minutes or seconds to select both digits - it only updates the first digit when typing and focus jumps to the next section

https://user-images.githubusercontent.com/2076953/191735106-0cf25c53-868e-471e-9b83-6342496e3df4.mp4

[2022-09-22 11:49] dzonidoo commented on #676
https://www.loom.com/share/c238fddd10cd4dbebd6a316f67698619

[2022-09-22 11:54] tomaskikutis commented on #676
reproduces here https://github.com/tomaskikutis/superdesk-ui-framework/tree/duration-bug

[2022-09-23 12:27] tomaskikutis opened #687 "`TimePicker` - validation errors do not appear"
https://user-images.githubusercontent.com/2076953/191959789-94ded3f6-a872-4b25-b4b8-6ffecfaa6347.mp4

related to https://github.com/superdesk/superdesk-ui-framework/issues/660

[2022-09-27 10:26] tomaskikutis opened #690 "`Dropdown` doesn't position correctly in certain cases"
Reproduces on the broadcasting instance

https://user-images.githubusercontent.com/2076953/192500984-8c965203-af50-43bc-85a9-d007e1093d4f.mp4

[2022-09-28 09:49] tomaskikutis commented on #685
component usage was the issue

[2022-09-28 09:49] #685 closed, assigned to nobody

[2022-09-30 10:40] tomaskikutis commented on #654
@fritzSF I noticed [UI is moving a lot](https://user-images.githubusercontent.com/2076953/193252516-1ba04109-aec7-4498-a7f7-e5df6655a160.mp4) when user is not doing anything except moving a mouse. It'd be good to reduce it.

[2022-09-30 15:07] fritzSF commented on #654
@tomaskikutis border color with HEX is done. Please check with @dzonidoo the right version.

[2022-09-30 15:10] fritzSF commented on #654
Yes, it is quite anoing. I created a fix for this but it's not yet applied to the component. I'll handle it on Monday.

[2022-10-03 16:09] tomaskikutis opened #693 "`Layout.LayoutContainer` is not rendered, but still takes space"
In order to hide rundown list when rundown item is being previewed or edited, I don't render [Layout.LayoutContainer](https://github.com/superdesk/superdesk-client-core/blob/broadcasting/scripts/extensions/broadcasting/src/page.tsx#L77). Whitespace is still being shown in its place.

https://user-images.githubusercontent.com/2076953/193625652-8025223e-9dbd-4af3-963a-d47582a63a69.mp4

[2022-10-05 12:14] fritzSF commented on #693
@tomaskikutis, please add the class `sd-content-wrapper--editor-full` to this element: `<section class="sd-content sd-content-wrapper">` with the same condition you stop rendering Layout.LayoutContainer.

[2022-10-05 12:15] fritzSF commented on #693
It's merged but no release has been created with this. I'll let you know once it's created

[2022-10-05 13:45] tomaskikutis commented on #693
I've tested and released it. All is working well. Code quality wise it'd be better to avoid loose class names and add a dedicated component, like `LayoutGroup` that would set classes as needed.

[2022-10-05 13:45] #693 closed, assigned to nobody

[2022-10-06 14:49] thecalcc commented on #599
https://user-images.githubusercontent.com/45574768/194345132-2d517083-6709-4aac-a404-2947fbc0ce0d.mp4

[2022-10-06 16:16] thecalcc commented on #599
https://user-images.githubusercontent.com/45574768/194365390-a740b5c8-195a-48be-b277-ca9189006b96.mp4

[2022-10-06 19:52] tomaskikutis commented on #686
Sometimes it's desired to include zeroes for UI alignment reasons. I'd then need a parameter that would determine if duration string is shortened to omit zeroes or not.

[2022-10-10 09:03] dzonidoo commented on #687
https://github.com/superdesk/superdesk-ui-framework/pull/691

[2022-10-10 09:03] #687 closed, assigned to nobody

[2022-10-10 09:05] dzonidoo commented on #686
https://github.com/superdesk/superdesk-ui-framework/pull/688

[2022-10-10 09:08] dzonidoo commented on #683
https://github.com/superdesk/superdesk-ui-framework/pull/689

[2022-10-10 09:08] #683 closed, assigned to nobody

[2022-10-10 09:10] dzonidoo commented on #654
https://github.com/superdesk/superdesk-ui-framework/pull/692

[2022-10-10 09:16] tomaskikutis commented on #686
I see you didn't add a parameter I requested in the previous comment. Do add it

[2022-10-13 10:21] tomaskikutis commented on #654
Hey guys, this still doesn't work. I see that you didn't add an index as I suggested, but instead added another prop `onAddItem`. Even if we leave aside that it's not a clean approach, it doesn't work either. I get the index, but now there's no way to know which item from `itemsDropdown` was selected.

[2022-10-17 16:01] thecalcc opened #699 "TableList item shows scrollbar when hovered"
https://user-images.githubusercontent.com/45574768/196225698-334a86bc-10a4-4b9c-8924-8cd0b40d1fc2.mp4

[2022-10-17 16:30] tomaskikutis commented on #690
Still reproduces at c918271

https://user-images.githubusercontent.com/2076953/196232284-c7952dd6-664c-4c57-bbd8-7c270c57a85d.mp4

[2022-10-18 15:05] dzonidoo commented on #690
its done... just need to merge

[2022-10-19 08:23] dzonidoo commented on #686
https://github.com/superdesk/superdesk-ui-framework/pull/698

[2022-10-19 08:26] dzonidoo commented on #690
https://github.com/superdesk/superdesk-ui-framework/pull/696

[2022-10-19 08:26] #690 closed, assigned to nobody

[2022-10-19 08:27] dzonidoo commented on #659
https://github.com/superdesk/superdesk-ui-framework/pull/696
https://github.com/superdesk/superdesk-ui-framework/pull/695

[2022-10-19 08:27] #659 closed, assigned to dzonidoo

[2022-10-19 08:28] dzonidoo commented on #600
https://github.com/superdesk/superdesk-ui-framework/pull/696
https://github.com/superdesk/superdesk-ui-framework/pull/695

[2022-10-19 08:28] dzonidoo commented on #599
https://github.com/superdesk/superdesk-ui-framework/pull/696
https://github.com/superdesk/superdesk-ui-framework/pull/695

[2022-10-19 09:02] dzonidoo commented on #598
https://github.com/superdesk/superdesk-ui-framework/pull/696
https://github.com/superdesk/superdesk-ui-framework/pull/695

[2022-10-19 09:02] #598 closed

[2022-10-19 10:22] dzonidoo commented on #699
https://github.com/superdesk/superdesk-ui-framework/pull/697

[2022-10-19 10:22] #699 closed, assigned to nobody

[2022-10-19 10:22] dzonidoo commented on #654
https://github.com/superdesk/superdesk-ui-framework/pull/697

[2022-10-19 10:22] #654 closed, assigned to nobody

[2022-10-19 10:23] #677 closed, assigned to nobody

[2022-10-20 10:23] tomaskikutis commented on #686
I may have not been clear about the extra parameter. It's not about `zeroPad` - that should always apply. I meant to print hours even if it's `00h`. Could you adjust it @dzonidoo?

WITHOUT PARAMETER: `15m 54s`
WITH PARAMETER: `00h 15m 54s`

[2022-10-20 10:50] tomaskikutis commented on #600
Still reproduces in template editing (broadcasting module)

![image](https://user-images.githubusercontent.com/2076953/196929203-e4113368-5ec0-4273-822a-467207501322.png)

[2022-10-20 12:20] dzonidoo commented on #686
now its clear... Im on it

[2022-10-24 14:02] thecalcc opened #702 "Allow ContentDivider's margin to be adjusted"
When a ContentDivider element is present between a Spacer it makes it so it has unnecessary space around the other elements.
![image](https://user-images.githubusercontent.com/45574768/197544640-dcc4789c-41b6-4030-820b-cd6d6f5bbc23.png)

[2022-10-24 16:33] IvanJelicSF commented on #686
Hey, it seems that we might have lost some things in transmission, so let me summarize that needs to be achieved. We are not displaying hours if they are zero always, that stays the same. We will display minutes even if they are zero, therefore, we should always have minutes, starting from 00m to 59m. We are also forcing two digits everywhere, even if the first one is 0 (01 instead of 1).

So, we

[2022-10-26 19:21] tomaskikutis commented on #599
reproduces on 3.0.1-beta.14

https://user-images.githubusercontent.com/2076953/198117316-48a12e5c-f50b-4cbb-a1d9-5fc20dd94cfd.mp4

[2022-10-27 09:47] dzonidoo commented on #599
Yes, that's a whole new issue that only show up when you delete items from the list... I'm on it...

[2022-10-31 09:34] tomaskikutis opened #707 "`Layout` is broken after updating to 3.0.1-beta.16"
Works on 3.0.1-beta.15

https://user-images.githubusercontent.com/2076953/198976982-5fc7eb29-aaa0-4f0d-8d57-73e540f060e2.mp4

[2022-11-01 10:24] dzonidoo commented on #684
https://github.com/superdesk/superdesk-ui-framework/pull/700

[2022-11-01 10:24] #684 closed, assigned to nobody

[2022-11-02 09:56] dzonidoo commented on #707
https://github.com/superdesk/superdesk-ui-framework/pull/708

[2022-11-02 09:56] #707 closed, assigned to nobody

[2022-11-02 16:39] fritzSF commented on #702
Margin prop added. `margin?: 'x-small' | 'small' |'medium' | 'large' | 'none';` // Defaults to 'medium' (same value as currently)
fix version: v3.0.0-rc8

[2022-11-08 09:57] dzonidoo commented on #676
https://github.com/superdesk/superdesk-ui-framework/pull/711

[2022-11-08 09:57] #676 closed, assigned to dzonidoo

[2022-11-08 09:58] dzonidoo commented on #599
https://github.com/superdesk/superdesk-ui-framework/pull/710

[2022-11-08 09:58] #599 closed

[2022-11-08 09:58] dzonidoo commented on #600
https://github.com/superdesk/superdesk-ui-framework/pull/710

[2022-11-08 09:58] #600 closed

[2022-11-08 09:59] dzonidoo commented on #686
https://github.com/superdesk/superdesk-ui-framework/pull/703

[2022-11-08 09:59] #686 closed, assigned to nobody

[2022-11-09 19:02] tomaskikutis opened #713 "Duplicate CSS rules for colors"
I counted 29 instances of the same class declared.
![image](https://user-images.githubusercontent.com/2076953/200917350-f80877da-fc0b-4f95-b81e-d989bafbb683.png)

[2022-11-09 19:21] fritzSF commented on #713
This is because of how it is imported in Superdesk. People are importing separate SCSS files directly from the framework. We need to address it but I'm not sure if it can be completely avoided.

[2022-11-09 19:45] tomaskikutis commented on #713
I see. What about if we port SASS variables to CSS variables and drop all SASS imports of ui-framework from superdesk-client-core, except for the main bundle?

[2022-11-10 11:37] thecalcc opened #714 "MultiSelect - add zIndex property"
Please add zIndex property to the MultiSelect component so I can have more control.

[2022-11-11 10:07] tomaskikutis commented on #667
Same reproduces with `TableList`

[2022-11-22 11:44] tomaskikutis opened #718 "When `Label` is used inside a button, a pointer style cursor is not shown"
It has `cursor: default` CSS style. Removing it would solve the issue - the cursor style would then be inherited from button and would resolve to `pointer`

[image](https://user-images.githubusercontent.com/2076953/203305639-28e9b712-c7ae-47c7-8c50-b837095ba099.png)

[2022-11-22 11:54] tomaskikutis commented on #597
@dzonidoo I didn't do much testing yet, but one of the issues I noticed when using it is that when `readOnly` is true, appropriate styling isn't being applied like for other fields. [image](https://user-images.githubusercontent.com/2076953/203307563-0ea25e9b-4ef0-47ae-8c7f-006e3cc0bd75.png)

[2022-11-22 17:05] tomaskikutis opened #721 "`IconButton` - incorrect tooltip positioning"
`ariaValue` prop is used to set tooltip text

https://user-images.githubusercontent.com/2076953/203376256-197247ea-c60b-45b4-89d0-bb2934f50c0e.mp4